@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #FFF8E7;
    font-family: "Poppins", sans-serif;
}

.section-divider{ 
    margin: 3rem 0;
    border: none;
}

.foodie {
    color: #6bcff9;
}

.fanatix {
    color: #ff77d9;
}

@media (max-width: 576px) {
    .section-divider{ 
        margin: 3rem 0;
        border: none;
    }
}

/* Navbar */

header,
.navbar-brand {
    height: 80px;
}

.navbar {
    background-color: #000;
}

.collapse {
    margin: 0 15px 0 0;
}

.navbar-collapse {
    margin: 0 15px 0 0;
}

.navbar-toggler {
    border: none;
    /* Remove default border */
    background-color: transparent;
    /* Make background transparent */
    color: #6bcff9;
    /* Button color */
    font-size: 1.5rem;
    /* Button size */
    margin-right: 10px;
}

.navbar-toggler:focus {
    outline: none;
    /* Remove focus outline */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%236bcff9' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 1.5em;
    height: 1.5em;
}

.navbar-nav .nav-link {
    color: #ff77d9; /* Link color */
    font-size: 1.2rem; /* Link font size */
    padding: 10px 20px; /* Link padding */
    border-radius: 25px;
}

.navbar-nav .nav-link:hover {
    background-color: #ff00b787; /* Hover background color */
    color: #6bcff9; /* Hover text color */
    border-radius: 25px;
}

@media (max-width: 576px) {
    .navbar-brand img {
        max-height: 60px;
    }
    .navbar-nav .nav-link {
        font-size: 1rem;
        padding: 5px 10px;
    }
}

/* home header */

.home {
    margin-top: 80px;
}

.heading {
    font-size: 80px;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    left:0;
    bottom: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.carousel-indicators button {
  background-color: #ebd9d9b5;
  margin: 0 3px;
  width: 25px;
  height: 3px;
  border-radius: 15px;
  border: none;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-indicators button:hover {
  background-color: rgba(0, 0, 0, 0.095);
  cursor: pointer;
}

.carousel-img {
    width: 100%;
    height: 400px; 
    object-fit: cover; /* Ensure the image covers the entire area */
}

@media (max-width: 576px) {
    .home {
        margin-top: 10px;
    }

    .home .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .heading {
        font-size: 40px;
    }
    .carousel-img {
        height: 250px;
    }

    .carousel-caption{
        padding: 2rem 0 2rem 0;
    }
}

/* About */

.about {
    margin-top: 6rem;
}

.claire {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

@media (max-width: 576px) {
    .about .col-md-7, .about .col-md-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about img {
        display: none;
    }
}

/* Review Section */

.reviewCard {
    width: 400px;
}

.reviews-btn {
    background-color: #000;
    border: none;
}

.reviews-btn:hover {
    background-color: #ff77d9;
    border: none;
}

.card-img-container {
    height: 400px;
    overflow: hidden;
}

.card-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 576px) {
    .reviewCard{
        width: 365px;
    }

    .card-img-container {
        height: 250px;
    }
}

/* modals */

.modal-img {
    width: 100%;
    height: 600px; 
    object-fit: cover;
}

/* Contact */

.container-contact {
    min-height: 90vh;
    margin: 0 48px;
    padding: 0 48px;
    background-color: #fff;
}

.contact-img {
    height: 599.5px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#mainForm {
    max-width: 500px;
    padding: 24px;
    margin: auto;
}

form h2 {
    color: #000;
    text-align: center;
}

form .form-group label {
    font-weight: bold;
}

form .form-group input,
form .form-group textarea {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
}

form .form-group input:focus,
form .form-group textarea:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

form button {
    background-color: #000;
    border: none;
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ff77d9;
}

@media (max-width: 576px) {
    .contact-img {
        display: none;
    }
    #mainForm {
        max-width: 100%;
        padding: 0;
    }
    .container-contact {
        margin: 0 10px;
        padding: 0 10px;
    }
}

/* footer */

footer {
    color: #fff;
    background-color: #000;
    width: 100%;
}